* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 335px;
  margin: 0 auto;
}

.portfolio {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.portfolio-name {
  margin-top: 10px;
}

.content {
  box-sizing: border-box;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  transform: translateZ(0); /* Это может устранить дробные значения */
}

.portfolio-item {
}

.portfolio-caption {
  white-space: nowrap; /* Текст не переносится */
  overflow: hidden; /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis; /* Добавляем многоточие */
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.portfolio-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .container {
    max-width: 704px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1150px;
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-item {
    box-shadow: none;
    flex-basis: calc((100% - 46px) / 3);
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 32px;
  }
  .section {
    padding: 120px 0 120px;
  }

  .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 304px;
    height: 312px;
  }
  .content {
    padding: 23px 31px;
  }
  .portfolio-name {
    height: 44px;
  }
}
